<h1>ランダム結果</h1>
<div class="card w-96 bg-base-100 shadow-xl ">
  <figure><img src="<%= @shop_logo %>" alt="Shoes" /></figure>
  <div class="card-body accent">
    <h2 class="card-title"><%= @shop_name %></h2>
    <p></p>
  </div>
</div>